@model Eticaret.Core.Entities.Category

@{
    ViewData["Title"] = "Kategori Detay Sayfası";
}

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal">
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="/Img/Categories/@Model.Image" height="60" width="80" style="border-radius: 5px;" />
                }
                else
                {
                    <img src="/Img/no-img.png" height="60" width="80" style="border-radius: 5px;" />
                }
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTopMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTopMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
    </dl>
</div>

    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>
    <a class="btn btn-outline-success mr-2" asp-action="Index">Listeye Dön</a>
    <!-- Modal Resim büyütme -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/Img/Categories/@Model.Image" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
